<!doctype html>
<html>
<head>
<title>Online Bookstore</title>
<link href="../static/bootstrap.css" rel="stylesheet" media="screen">
<link href="../static/bootstrap-responsive.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../static/bootstrap.min.js"></script>
 <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>

<!--navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Book store</a>
      <ul class="nav  pull-right">
        {% if name %}
          <li><a href="/logout" class="navbar-link">登出</a></li>
        {% else %}
          <li><a href="/login" class="navbar-link">會員登入</a></li>
          <li><a href="/register" class="navbar-link">註冊</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span10 well">
      <table>
      {% if books %}
      <tr>
        <th></th><th width="300">品名 </th><th width="100">售價</th><th> </th>
      </tr>
      {% for book in books %}
      <tr>
        <td><p> {{loop.index}}</p></td>
        <td><p> {{book[2]}}</p></td>
        <td><p> {{book[8]}}</p></td>
        <td><form action="/cart" method="post">
            <input type="hidden" name="itemNumber" value="{{book[0]}}">
            <input type="hidden" name="amount" value="1">
            <button class="btn btn-info" type="submit" name="btn-submit" value="add">加入購物車</button>
            </form>
        </td>
      </tr>
      {% endfor %}
      </div>
      {% endif %}
      </table>
    </div>

  <div class="span2 well">
  {% if name %}
  <p>Hi, <strong>{{ name }}</strong> !</p><br>
  <a href="/cart" class="btn btn-primary">查詢購物車</a><p><br></p>
  <a href="/orderhistory" class="btn btn-primary">查詢歷史訂單</a>
  {% endif %}
  <br>
  </div>

  <div class="span2 well pull-right">
  <form action="" method="post">
    <p>查詢書籍</p>
    <p><input class="span" type="text" name="keyword" placeholder="請輸入關鍵字"></p>
    <button  class="btn"  type="submit " value="search" >查詢</button>
  </form>
  </div>
</div>
</body>
</html>
