<!doctype html>
<html>
<head>
<title>Online Bookstore</title>
<link href="../static/bootstrap.css" rel="stylesheet" media="screen">
<link href="../static/bootstrap-responsive.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../static/bootstrap.min.js"></script>
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

    </style>
</head>
<body>
<!--navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Book store</a>
      <ul class="nav  pull-right">
        {% if name %}
          <li><a href="/logout" class="navbar-link">登出</a></li>
        {% else %}
          <li><a href="/login" class="navbar-link">會員登入</a></li>
          <li><a href="/register" class="navbar-link">註冊</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span2 well pull-right">
      {% if name %}
      <p>Hi, <strong>{{ name }}</strong> !</p><br>
      <a href="/cart" class="btn btn-primary">查詢購物車</a><p><br></p>
      <a href="/orderhistory" class="btn btn-primary">查詢歷史訂單</a>
      {% endif %}
      <br>
    </div>

    {% if orderlist %}
    {% for order in orderlist %}

    <div class="span9 well">
    <table>
    <tr>
      <th align="center" width="100">訂單編號</th><th align="center" width="80">寄送狀態</th><th align="center" width="200">下訂時間</th><th align="center" width="50">總額</th><th width="200"></th>
    </tr>
    <tr>
      <td align="center"><p> {{order[0]}}</p></td>
      {% if order[1] == 1 %}
      <td align="center"><p>已送達</p></td>
       {% endif %}
       <td align="center"><p> {{order[2]}}</p></td>
       <td align="center"><p> {{order[3]}}</p></td>
       <td><form  action="" method="post">
           <button  class="btn"  type="submit " name="detail" value="{{order[0]}}" >查詢</button>
           </form>
       </td>
     </tr>
     </table>
   </div>
   {% endfor %}
   {% endif %}
  </div>
</div>
</body>
</html>
